
body{
  margin-top:70px;
  padding:0;
  font-family: 'Barlow Semi Condensed', sans-serif; 
}

.navbar{
  color:white;
  background-color:#1A1A1A;
}

#login-btn{
  padding-bottom: 10px;
  margin-right: 16px;
  font-size:1.3em;
  color:white;
  position: absolute;
  right:0px;
}

#logout-btn {
  padding-bottom: 9px;
  font-size:1.3em;
  color:white;
  text-decoration:none;
}
#profile-image{
  margin-right:10px;
  margin-left:10px;
}

header{
  height:100px;
  margin-bottom:30px;
}

.header-text{
  font-size:3em;
  line-height: 100px;
}

#syllabus-frame{
  width:60vw;
  height:100vh;
  display: block;
  margin:0 auto;
}


/*************************** For courses-preview view ***************************/

.course-wrapper{
  width:70%;
  display:flex;
  justify-content: left;
  flex-wrap: wrap;
}

.card{
  position:relative;
  border-radius: 0px;

}

.card-body{
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1A1A1A 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}


.card-body > a, .card > a{
  color:#aaa;
}

.card > a :hover{
  color:white;
}

#edit-link{
  position:absolute;
  right:0;
  font-size: 1.5em;
}

/****************************************************************************/



/******************************* course-create *********************************/
.course-create,.course-edit,#intro-edit-form{
  width:50%;
  margin: 0 auto;
}

#course-create-form{
  color:#666;
  height:550px;
  overflow: scroll;
}

#course-delete-form button{
  font-size: 2em;
  color:#1A1A1A; 
  margin-left:94%;
}

#course-create-form label {
  color: #666;
  margin-bottom: 10px;
  width: 100%;
}

#course-delete-form button:hover{
  font-size: 2.07em;
  transition: .2s ease;
}

#course-create-form button{
  width:100%;
  background: #1A1A1A;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  text-transform: uppercase;
}

#course-create-form button:hover {
  color:#aaa;
  transition: .3s ease background;
}
.student-scroll{
  height:200px;
  overflow: scroll;
}

/*******************************************************************************/

/******************************* assignment-create/upload *********************************/
#create-assignment{
  text-align: center;
}
.assignment-create,.assignment-list,.assignment-upload{
  width:50%;
  margin: 0 auto;
  margin-bottom:30px;
}

.assignment-list , .submission-list {
  text-align: center;
  width:400px;
  margin:0 auto;
}

.assignment-list  > p > a, .submission-list > p > a{
  font-size: 2em;
  text-decoration: underline;
  color:#1A1A1A;
}

#assignment-create-form button{
  width:100%;
  background: #1A1A1A;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  text-transform: uppercase;
}

#assignment-create-form button:hover {
  color:#aaa;
  transition: .3s ease background;
}

#submissions{
  text-align: center;
  margin-bottom: 20px;
}
/*******************************************************************************/

/******************************* login **********************************/
.login-image > img{
  width:105px;
  display: block;
  margin: 0 auto;
}

#login-form {
  text-align: center;
  margin: 30px auto;
  width: 350px;
  margin-top: 10vh;;
}

#login-form  h1{
  color:#5E5E5E;
  text-align: center;
  margin-bottom: 20px;
}

#login-form  button {
  background: #1A1A1A;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-transform: uppercase;
  border: 1px solid  #1A1A1A;
  width: 100%;
}

#login-form label {
  color: #666;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#login-form button:hover {
  color:#aaa;
  transition: .3s ease background;
}
/****************************************************************************/

/********************************* instructors/students views **********************************/
.record-wrapper{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  height:550px;
  width:90%;
  margin:0 auto;
  align-items: center;
  overflow:scroll;
}

.record{
  position:relative;
  display:flex;
  color:white;
  background-color:#1A1A1A;
  width: 350px;
  padding:10px;
  margin:5px;
  text-align: center;
  justify-content: space-between;
}

.record-buttton-wrapper{
  display:flex;
}

.record-button{
  background-color: transparent;
  border:none;
  color:white;
}

#record-name{
  margin:0;
}
/***********************************************************************************************/


/********************************* add instructor/student views **********************************/

#create-student-form{
  margin: 30px auto;
  width: 350px;
}

#create-student-form button,#intro-edit-form button  {
  background: #1A1A1A;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-transform: uppercase;
  border: 1px solid  #1A1A1A;
  width: 100%;
}

#create-student-form label {
  color: #666;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#create-student-form button:hover , #intro-edit-form button:hover{
  color:#aaa;
  transition: .3s ease background;
}
/***********************************************************************************************/


/********************************* course-details/intro **********************************/

.service-box{
  font-size: 1.6em;
  text-align: center;
  border: 2px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #aaa;
  margin: 50px 5% 0 5%;
  padding: 20px;
  width: 70%; 
  margin:0 auto;
}

/***********************************************************************************************/


/****************************************8** index **********************************************/
.landing-page{
  margin:0;
  height:90vh;

}

.landing-page{
  display:flex;
  flex-wrap: wrap;
}

.index-item{
  width:50%;
}

#logo-landing{
  width:400px;
  margin-left:10vw;
  margin-top:10vh;
}

.phrase-backdrop{
  margin-top:26vh;
  margin-left:10vw;
  text-align: justify;
  padding: 10px;
  width: 90%; 
}


#phrase-landing{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8em;
  line-height:42px;
}
strong{
  font-size: 3em
}


.showWhenBig {
  display: block;
}

.showWhenSmall {
  display: none;
}

/***********************************************************************************************/

@media only screen and (max-width: 768px) {
  .showWhenBig {
    display: none;
}

.showWhenSmall {
    display: block;
}

}