<div class="landing-page">  
  <div class="index-item ">
    <div class="phrase-backdrop">
      <h3 id="phrase-landing">
      <strong>CareerHub</strong> is an informative platform designed to give High School students a glimpse of impactful and poupular 
      careers in STEM, and get the proper guidance to help them make well-thought decisions when it comes to their future. Here at 
      CareerHub, we believe that nobody should be left behind and that exposing the youth to technlogy is one of the best investment 
      to make for the good of this word. Our platform helps students get an overview of some of the most amazing careers one would want
      to pursue, and provide them with some valuable resources to help them get started in their journey in the STEM fields. Is that not 
      cool? <b>#CareerHub #AllforSTEM!</b> 
    </h3>
    {{!-- is a virtual learning environment that provides the digital tools and resources that instructors and students need for a simpler 
      and more connected learning experience. With spark you can create courses, add content and track students progress. --}}
    </div>
  </div>

  <div class="index-item">
  <img  id="logo-landing" src="/images/designAsset.png" alt="career-logo"> 
  </div> 

</div>