<div class="landing-page">  
  <div class="index-item ">
    <div class="phrase-backdrop">
      <h3 id="phrase-landing">
      <strong>CareerHub</strong> is an informative platform designed to provide High School students a glimpse of popular STEM careers.
    . Here at CareerHub, we believe that nobody should be left behind and that introducing technlogy to the youth is one of the best
     investment to make for the future of this word. Our platform help students get an overview of some of the most amazing careers one
     would want to pursue and provide them with somes resources to get them started in STEM fields. Is that not cool? #AllforSTEM!
    </h3>
    {{!-- is a virtual learning environment that provides the digital tools and resources that instructors and students need for a simpler 
      and more connected learning experience. With spark you can create courses, add content and track students progress. --}}
    </div>
  </div>

  <div class="index-item">
  <img  id="logo-landing" src="/images/career.png" alt="career-logo"> 
  </div> 

</div>