<div class="landing-page">  
  <div class="index-item ">
    <div class="phrase-backdrop">
      <h3 id="phrase-landing">
      <strong>Spark</strong> is a virtual learning environment that provides the digital tools and resources that instructors and students need for a simpler and more connected learning experience. With spark you can create courses, add content and track students progress.
    </h3>
    </div>
  </div>

  <div class="index-item">
  <img  id="logo-landing" src="/images/logo-color.png" alt="spark-logo"> 
  </div> 

</div>