  <header class='bg-light'>
    <div class="container">
      <h1 class="header-text">Edit Student</h1>
    </div>
  </header>


<form id="create-student-form"action="/students/edit/{{student._id}}" method="post">
<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" value="{{student.name}}">
</div>
<div class="form-group">
    <label for="lastName">Last name</label>
    <input type="text" class="form-control" name="lastName" id="lastName"value="{{student.lastName}}">
</div>

<div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username"value="{{student.username}}">
</div>

<button class="btn">Submit Changes</button>
</form>