  <header class='bg-light'>
    <div class="container">
      <h1 class="header-text">Assignments</h1>
    </div>
  </header>
{{#if isInstructor}}
  <div class="assignment-create ">
  <h1 id="create-assignment">Create Assignment</h1>
    <form id="assignment-create-form"action="/assignments/create" method='post'>
      <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title">
      </div>
      <div class="form-group">
            <label for="description">Directions</label>
            <input type="text" class="form-control" name="description" id="description">
      </div>

      <input type="hidden" name="course" value={{course._id}} id="">
      <button class="btn">Add</button>
    </form>
  </div>
{{/if}}

<div class="assignment-list">
    {{#each assignments}}
      <p><a href="/assignment/details/{{this._id}}/course/{{course._id}}">{{this.title}}</a></p>
    {{/each}}
</div>

  